{% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br><br>
<br>
<!-- delete jobs naviagation -->
<div class="container">
<legend >
    <a class="btn btn-danger" href="{% url 'deletelist' %}">
    <i class="far fa-trash-alt"></i>
        Delete Job
    </a>
</legend>
<small>By Clicking above Delete Button Your Will redirect to listed jobs to delete older posted job.</small>
</div>
<br>
<!-- delete jobs naviagation -->
<!-- form div -->
<div class="container" id="JobUpload">
<h2 class="text-center"> <strong>Jobs Upload </strong> </h2>
    <hr><br>
    <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-sm">
            {{ jobsForm.Designation |as_crispy_field }}
            {{ jobsForm.Functional_Area |as_crispy_field }}
            {{ jobsForm.Job_Description |as_crispy_field }}
            {{ jobsForm.Job_Description1 |as_crispy_field }}
            {{ jobsForm.Job_Description2 |as_crispy_field }}
            {{ jobsForm.Job_Description3 |as_crispy_field }}
            <!-- addinge new fields below -->
            {{ jobsForm.Offer_Type |as_crispy_field }}
            {{ jobsForm.About_Company_1 |as_crispy_field }}
            {{ jobsForm.About_Company_2 |as_crispy_field }}
            {{ jobsForm.About_Company_3 |as_crispy_field }}


        </div>
        <div class="col-sm">
            {{ jobsForm.Location |as_crispy_field }}
            {{ jobsForm.Industry |as_crispy_field }}
            {{ jobsForm.Rate_Card |as_crispy_field }}
            {{ jobsForm.Education |as_crispy_field }}
            {{ jobsForm.Notice_Period |as_crispy_field }}
            {{ jobsForm.Freelancing |as_crispy_field }}
            <!-- addinge new fields below -->
            {{ jobsForm.Job_Skills_1 |as_crispy_field }}
            {{ jobsForm.Job_Skills_2 |as_crispy_field }}
            {{ jobsForm.Job_Skills_3 |as_crispy_field }}
            {{ jobsForm.Job_Skills_4 |as_crispy_field }}


        </div>
        <div class="col-sm">
            {{ jobsForm.Client_Name |as_crispy_field }}
            {{ jobsForm.Experience |as_crispy_field }}
            {{ jobsForm.Salary_LPA |as_crispy_field }}  
            {{ jobsForm.Openings   |as_crispy_field }}
            {{ jobsForm.Role |as_crispy_field }}
            <!-- addinge new fields below -->
            {{ jobsForm.Skill_Set |as_crispy_field }}
            {{ jobsForm.Required_Skills_1 |as_crispy_field }}
            {{ jobsForm.Required_Skills_2 |as_crispy_field }}
            {{ jobsForm.Required_Skills_3 |as_crispy_field }}
            {{ jobsForm.Required_Skills_4 |as_crispy_field }}



        </div>
    </div>
    <button id="Jobupload-btn"type="submit" class="btn btn">SUBMIT</button>
</form>
</div>
<!-- form div -->
<!--  -->
<br><br><br>
{% endblock %}
