{% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}

{% block content %}
<br>
<div id="aboutus-bg">
<div class="container"id="aboutus">
    <h3 class="text-center">About Us</h3><hr>
    <p>
    we are calling to build our future, To design. To code. To consult. 
    To think along with clients and sell To make markets. To invent. To collaborate. Not just to do something better, 
    But to attempt things you've never thought possible.
    <br><br>
    <span style="font-weight: 700;"> AOCINC (p) Ltd.</span> located at shaikpet, Hyderabad, 
    India is a worldwide provider of a full fledged Creative Design, 
    Web and Mobile app Development and API Services. 
    </p>

</div>
</div>

<!-- what we do -->
<div class="sec-div  text-center">
    <!-- heading -->
    <div class="text-center sec-div-head">
        <h2>What We do</h2>
        <h6>we help build your business</h6>
        <hr>
    </div>
    <!-- heading ends -->
    <!-- first row -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
                <img src="{% static 'images/consulting.png' %}" alt="">
                <p>Product Consulting</p>
                <small>
                    We provide end to end consulting and advisory services on software product ideation,
                    launch, GTM strategy and product roadmap.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/blueprint.png' %}" alt="">
                <p>Product Architecture</p>
                <small>
                    We build design & architecture of the application in a way that it incorporates evolving business needs.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/UX_UI.png' %}" alt="">
                <p>Product Design & UX</p>
                <small>
                    Good design is all about putting the user first. Any aspect of a website, 
                    app or software that doesn’t consider the user’s needs is ultimately doomed to fail.
                </small>
        </div>
        </div>
      </div><br><br>
    <!-- second row -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
                <img src="{% static 'images/product-development.png' %}" alt="">
                <p>Product Development</p>
                <small>
                    Product development as a whole is an essential component for success,
                    and our team of experts make it look simple.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/testing.png' %}" alt="">
                <p>&nbsp; Product Testing</p>
                <small>
                    we enable clients to accelerate the delivery of quality software 
                    with our comprehensive offering of testing services and digital solutions.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/digital-marketing.png' %}" alt="">
                <p>Digital Marketing </p>
                <small>
                    We help you out right from building your online brand to growing online sales,
                    customer base. We work with you to build strategic plans that would take you where you want to go.
                </small>
        </div>
        </div>
      </div>
</div>
<!-- second div end  -->
<!-- what we do end -->

<!-- aocinc portfolio -->
{% include 'Aoc_Business_LandingApp/portfolio.html' %}
<!-- aocinc portfolio -->




<!-- footer -->
{% include 'Aoc_Business_LandingApp/footer.html' %}
<!-- footer end -->


{% endblock %}