{% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}

{% block content %}
<br>
<div id="aboutus-bg">
<div class="container"id="aboutus">
    <h3 class="text-center">About Us</h3><hr>
    <p>
    we are calling to build our future, To design. To code. To consult. 
    To think along with clients and sell To make markets. To invent. To collaborate. Not just to do something better, 
    But to attempt things you've never thought possible.
    <br><br>
    <span style="font-weight: 700;"> AOCINC (p) Ltd.</span> located at shaikpet, Hyderabad, 
    India is a worldwide provider of a full fledged Creative Design, 
    Web and Mobile app Development and API Services. 
    </p>

</div>
</div>
<br><br><br>
<!-- company partner info -->
<div class="container">
    <div class="d-flex justify-content-center">
        <h3 id="ourleaders">Meet Our Leaders</h3>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-center" id="company-handler1" data-toggle="modal" data-target="#exampleModal">
        <!-- first image -->
        <img src="{% static 'images/zubair.jpg' %}" alt="">
      </div>
      <div class="col-sm-6 d-flex justify-content-center"id="company-handler2" data-toggle="modal" data-target="#exampleModal2">
          <!-- second image -->
        <img  src="{% static 'images/jaffar.jpg' %}" alt="">

      </div>
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" id="aocModal-Header">
          <h5 class="modal-title" id="exampleModalLabel">Zubair Ahmed - CEO</h5>
          <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="company-handlerMODAL">
            <img class="d-flex justify-content-center" src="{% static 'images/zubair.jpg' %}" id="company-handlerModal1" alt="">
            <br>
            <span>
                Mohammed Ismail Zubair was named chief executive officer of Aocinc Pvt. Ltd.
                in December 2018. As Aocinc Pvt. Ltd CEO, Mohammed Ismail Zubair is responsible for the strategic direction and overall performance of the enterprise and its long-term growth agenda.
                He is also a member of the Aocinc Pvt. Ltd board of directors, 
                He was previously served as a UnitedHealth Group company, 
                from 2012 to 2018, and He holds Master’s degrees from Rguhs Bangalore Universities, India.
            </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- MODAL -->
<!-- MODAL 2 -->
<!-- MODAL -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="aocModal-Header">
        <h5 class="modal-title" id="exampleModalLabel">Syed Jaffar Ahmed - Managing director</h5>
        <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="company-handlerMODAL">
          <img class="d-flex justify-content-center" src="{% static 'images/jaffar.jpg' %}" id="company-handlerModal1" alt="">
          <br>
          <span>
            Syed Jaffar Ahmed was named Managing director of Aocinc Pvt. Ltd. in December 2018. As Aocinc Pvt. Ltd MD,
            and he is responsible for Administration, Business and Corporate Strategy, along with its long-term growth agendas. He is one of a core member of the Aocinc Pvt. Ltd board of directors.
            Previously he was part of Tourism Industry, worked for big names like Travel Boutique Online, Emirates Holidays, Expedia.com and Dook International from 2008 to 2018, 
            and he holds a Master’s Degrees from Osmania Universities, Hyderabad India.
          </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL -->

<!-- MODAL 2 -->
<!-- company partner info -->



<!-- what we do -->
<div class="sec-div  text-center">
    <!-- heading -->
    <div class="text-center sec-div-head">
        <h2>What We do</h2>
        <h6>we help build your business</h6>
        <hr>
    </div>
    <!-- heading ends -->
    <!-- first row -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
                <img src="{% static 'images/consulting.png' %}" alt="">
                <p>Product Consulting</p>
                <small>
                    We provide end to end consulting and advisory services on software product ideation,
                    launch, GTM strategy and product roadmap.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/blueprint.png' %}" alt="">
                <p>Product Architecture</p>
                <small>
                    We build design & architecture of the application in a way that it incorporates evolving business needs.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/UX_UI.png' %}" alt="">
                <p>Product Design & UX</p>
                <small>
                    Good design is all about putting the user first. Any aspect of a website, 
                    app or software that doesn’t consider the user’s needs is ultimately doomed to fail.
                </small>
        </div>
        </div>
      </div><br><br>
    <!-- second row -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
                <img src="{% static 'images/product-development.png' %}" alt="">
                <p>Product Development</p>
                <small>
                    Product development as a whole is an essential component for success,
                    and our team of experts make it look simple.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/testing.png' %}" alt="">
                <p>&nbsp; Product Testing</p>
                <small>
                    we enable clients to accelerate the delivery of quality software 
                    with our comprehensive offering of testing services and digital solutions.
                </small>
        </div>
          <div class="col-sm">
                <img src="{% static 'images/digital-marketing.png' %}" alt="">
                <p>Digital Marketing </p>
                <small>
                    We help you out right from building your online brand to growing online sales,
                    customer base. We work with you to build strategic plans that would take you where you want to go.
                </small>
        </div>
        </div>
      </div>
      <br><br><hr id="secondLine">
</div>

<!-- second div end  -->
<!-- what we do end -->

<!-- aocinc portfolio -->
{% include 'Aoc_Business_LandingApp/portfolio.html' %}
<!-- aocinc portfolio -->




<!-- footer -->
{% include 'Aoc_Business_LandingApp/footer.html' %}
<!-- footer end -->


{% endblock %}