<!-- {% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}

{% block content %}
<div class="contact-bnr">
    <div class="container text-center">
        <h2>
            Ready To Get Started 
        </h2>
        <h6>
            Let us know what you are looking for? <br>
            We would help you to build a secure and scalable system.
        </h6>
    </div>
</div> -->


<!-- form -->
<!-- <form method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
  </form> -->
<!-- form ends  -->


<!-- footer  -->
<!-- {% include 'Aoc_Business_LandingApp/footer.html' %} -->
<!-- footer  -->

<!-- {% endblock %} -->