{% load static %}

<!-- banner -->
<div class="mobileApp-text" id="mobileApp">
    <div class="container text-center">
    <h3>
        Mobile Apps Development
    </h3> <hr>
    <h5>
        When it comes of building a highly responsive, iOS, Android and Reactive Native App, 
        we know it precisely how to do it. <br> It does not just provide an edge over others, 
        but can also transform your vision into a highly productive, profitable and creative product.
    </h5>
    </div>

</div>
<!-- banner end -->

<!-- mobile apps cotent -->
<div class="container">
    <div class="row">
      <div class="col-sm-6">
          <div class="mobile_strategy"></div>
      </div>
      <div class="col-sm-6" id="web-stretegy-text2">
        <h2>Building the best Android &amp; iOS Applications</h2><hr>
        <h3>
            We'll help you find and refine the big ideas to deliver short and long term value to your organiztion.
        </h3>
        <!-- mobile inner div -->
        <div class="container" id="mobile-inner">
            <div class="row">
              <div class="col-sm" id="android">
                <!-- this div is android logo rendering from css -->
              </div>
              <div class="col-sm" id="ios">
                <!-- this div is ios logo rendering from css -->
            </div>
              <!-- <div class="col-sm">
              </div> -->
            </div>
          </div>
        <!-- mobile inner div end -->
      </div>
    </div>
</div>
<!-- mobile apps content end -->


<br><br><br><br><br>
