<!DOCTYPE html>
{% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}

{% block content %}
<br><br><br>
<div class="container">
    <br><br>
    
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-primary btn-block">
                We Are Offering
            </button>
            <br><br>
            <ul class="list-group">
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Manual Functional Tesing</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Automated Functional Testing</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;User Experience Testing</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Payment Testing</li>
                <li class="list-group-item"><i class="far fa-check-circle"></i> &nbsp;Voice Testing</li>
              </ul>
        </div>
    <div class="col-sm">
        <button class="btn btn-dark btn-block">
            By Technology
        </button>
        <br><br>
            <ul class="list-group">
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Website</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;IOS Apps</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Android Apps</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp; Desktop Apps</li>
                <!-- <li class="list-group-item"><i class="far fa-check-circle"></i> &nbsp;</li> -->
              </ul>
    </div>
      <div class="col-sm">
        <button class="btn btn-danger btn-block">
            By Industry
        </button>
        <br><br>
            <ul class="list-group">
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Retail</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Travel</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp;Hosplitality</li>
                <li class="list-group-item"> <i class="far fa-check-circle"></i> &nbsp; Media</li>
                <li class="list-group-item"><i class="far fa-check-circle"></i> &nbsp;Education</li>
              </ul>
    </div>
    </div>
  </div>
  <br><br>
  
















































{% endblock %}