{% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}

{% block content %}
<div class="container"id="schedule-div">
    <div class="row">
        <!-- meeting with aoc -->
        <div class="col-sm-4" id="Aoc-meeting">
            <h3 class="text-center">AOCINC</h3><hr>
            <div class="aocinc-img">
                <img class="" src="{% static 'images/zubair_img.jpeg' %}" alt="">
            </div>
            <br>
            <h4>AOCINC</h4>
            <h2>Meeting with AOCINC</h2>
            <h6><i class="far fa-clock"></i> 15 Min</h6>
            <h6><i class="fas fa-video"></i> &nbsp;conferencing details will provide.</h6>
            <h6>In this short conference I will able to showcase you AOCINC Capabilities and Portfolio.
                <br><br>
                Mobile/WhatsApp: <a href="https://api.whatsapp.com/send?phone=917286953566&text=" target="_blank">+91 72869 53566</a>
            </h6>
            <br>
        </div>
        <div id="schedule-line"></div>
        <!-- meeting with aoc end -->
        <!-- form  goes here -->
        <div class="col-sm-6" id="Meeting-form">
          <!-- messages -->
          {% if messages %}
          <ul class="messages alert alert-danger" role="alert" id="Mesg-box">
              {% for message in messages %}
              <i class="far fa-times-circle"></i> {{ message }} <br>
              {% endfor %}
          </ul>
          {% endif %}
          <!-- messages -->
            <!-- test -->
            <form method = "POST" novalidate>
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    <input type="text" class="form-control" name = "Name" id="inputName" placeholder="Your Name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Email</label>
                    <input type="text" class="form-control" name = "email" id="inputEmail" placeholder="Your Email" required> 
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Phone</label>
                    <input type="text" class="form-control" name = "phone" id="inputCity" placeholder="Phone Number" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputCity">Zoom/Google Meets</label>
                    <input type="text" class="form-control" name ="zoom" id="inputCity" placeholder="Zoom Meeting ID/url" >
                  </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Notes</label>
                    <input type="text" class="form-control" name = "notes" id="inputAddress" placeholder="It will help prepare our meeting" >
                  </div>
                  <br>
                <button type="submit" class="btn btn-primary">SUBMIT</button>
              </form>
            <!-- test -->
            
        </div>
        <!-- form end here -->
      

    </div>
</div>
<br><br><br>



















{% endblock %}