<!DOCTYPE html>
{% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}
{% block content %}
<br><br>


<!--  calendly-->
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/itikpirfan/10-meeting" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->










































{% endblock %}