{% extends 'Aoc_Business_LandingApp/base.html' %}
{% load static %}
{% block content %}
<!-- <br><br><br> -->
<!-- benner  -->
<div class="web_app_bg" id="solutions-bnr">
    <h1 class="text-right">
        E-Commerce Websites &amp; Mobile Apps
    </h1>
</div>

<!-- benner ends -->
<!-- first div  -->
<br><br><br>
<div id="productManagement"></div><br><br>
<div class="container" id="web-app-body">
    <div class="row">
      <div class="col-sm-6 img-fluid" id="product-management">

      </div>
      <div class="col-sm-6" id="web-info-text-product">
        <h3>
            Manage product inventory online
        </h3>
        <h5 class="text-left">
            Ecommerce store comes with admin, where you can manage your product inventory and orders. <br> <br>
            <i class="far fa-check-circle"></i> Product Management <br>
            <i class="far fa-check-circle"></i> Order Management   <br>
            <i class="far fa-check-circle"></i> Return Management  <br>
            <i class="far fa-check-circle"></i> Reports              <br>
            <i class="far fa-check-circle"></i> Promotion Management  <br>
            <i class="far fa-check-circle"></i> Users Management         <br>

        </h5>
    </div>
    </div>
</div>  
<!-- vertical line  -->
<div class="vertical"> </div> 
<!-- vertical line end -->
<!-- first div end -->

<!--  second div-->
<br><br><br>
<div class="container" id="web-app-body">
    <div class="row">
      <div class="col-sm-6 img-fluid" id="web-info-text-payemnt">
        <h3>
            Collect payments online &amp; delivery faster
        </h3>
        <h5>
            World is moving to digital transformation people are more comfortable with online buying, 
            you can sale products online and collect payment online.
        </h5>

    </div>
      <div class="col-sm-6" id="product-payments">
    
    </div>
    </div>
</div> 
<!-- vertical line -->
<div class="vertical"></div>
 <!--vertical line end  -->
<!--second div end  -->

<!-- third div -->
<br><br>
<div id="CRM"></div><br>
<div class="container" id="web-app-body">
    <div class="row">
      <div class="col-sm-6" id="CRM-Portal">
    </div>
      <div class="col-sm-6" id="web-info-text-CRM">
        <h3>
            CRM Portals,No More Physical Forms
        </h3>
        <h5>
            We are building custom CRM developments like Actively tracks and manages customer information, 
            Connects your entire team from any device, Intelligently captures customer emails, 
            Simplifies repetitive tasks so you can concentrate on leads, Delivers instant insights and recommendations, 
            Extends and customises as your business grows and do the automation of your repeated task.

        </h5>
    </div>
    </div>
</div>  
<!-- vertical line -->
<div class="vertical"> </div>
 <!--vertical line end  -->
<!-- third div end -->

<!-- fourth div -->
<br><br>
<div id="MedicleManage"></div><br>
<div class="container" id="web-app-body">
    <div class="row">
      <div class="col-sm-6 img-fluid" id="web-info-text-Medicle">
          <h3>
            Medical management applications
          </h3>
          <h5>
            Medical practice management software is a category of healthcare software 
            that deals with the day-to-day operations of a medical practice including veterinarians, pharmacy and labs. 
          </h5>

    </div>
      <div class="col-sm-6 img-fluid" id="Medicle-management">
    
    </div>
    </div>
</div>  
<!-- vertical line -->
<div class="vertical"> </div>
 <!--vertical line end  -->
<!-- fourth div end -->

<!-- fifth div -->
<br><br>
<div id="Tourism"></div><br>
<div class="container" id="web-app-body">
    <div class="row">
      <div class="col-sm-6" id="tourism">
    </div>
      <div class="col-sm-6" id="web-info-text-tourism">
        <h3>
            Tourism and hospitality application
        </h3>
        <h5>
            Now you can Manage your own website with Go paperless with our Tourism &amp; Hospitality app. Room directory, Local Recommendations. 
            Easy to use. Increase rebooking, increased loyalty. Higher re-booking rates and Direct bookings
        </h5>
    </div>
    </div>
</div>  
<!-- vertical line -->
<div class="vertical"> </div>
 <!--vertical line end  -->
<!-- fifth div end -->

<!-- sixth div -->
<br><br>
<div id="Logistics"></div><br>
<div class="container" id="web-app-body">
    <div class="row">
      <div class="col-sm-6 img-fluid" id="web-info-text-travel">
          <h3>
            Transport and Logistics management applications
        </h3>
        <h5>
            We are building travel websites to help your business with all services like Book, 
            Report & Manage all Travel from one place to another with a broad selection of travel choices,
            with all API’s to grow your business much easier and faster.
        </h5>

    </div>
      <div class="col-sm-6 img-fluid" id="logistics">
    
    </div>
    </div>
</div>  
<!-- vertical line -->
<div class="vertical"> </div>
 <!--vertical line end  -->
<!-- sixth div end -->



<!-- seventh div -->
<br><br>
<div id="Startup"></div><br>
<div class="container" id="web-app-body">
    <div class="row">
      <div class="col-sm-6" id="startup">
    </div>
      <div class="col-sm-6" id="web-info-text-tourism">
        <h3>
          Startup and Entrepreneurship 
        </h3>
        <h5>
          We are there to help the A startup company founded by one or more entrepreneurs 
          to develop a unique product or service and bring it to market. We build websites  
          for startup entrepreneurs from the better experience and explore the world promote business.
        </h5>
    </div>
    </div>
</div>  
<br><br><br>
<!-- seventh div end -->

<!-- footer -->
{% include 'Aoc_Business_LandingApp/footer.html' %}
<!-- footer -->

{% endblock %}