{% extends 'Aoc_Business_LandingApp/base.html' %}
{%  load static %}

{% block content %}
<!-- <br><br><br> -->
<!-- benner  -->
<div class="web_app_bg" id="web_app_img">
    <h1 class="text-center">
        Web Application Development
    </h1>
</div>
<!-- benner ends -->
<!-- first div  -->
<br><br><br>
<div class="container"id="web-app-body">
    <div class="row">
      <div class="col-sm-6 img-fluid" id="web-info">

      </div>
      <div class="col-sm-6" id="web-info-text">
        <h3>
            We are the finest in designing and developing websites, 
            providing facilities to clients and companies to produce highly satisfactory results. 
        </h3>
    </div>
    </div>
</div>  
<br><br><br>
<!-- first div end -->
<!--  second div-->
<br><br><br>
<div class="container"id="web-app-body">
    <div class="row">
      <div class="col-sm-6 img-fluid" id="web-info-text">
          <h3>
            The website is the best way to get potential clients in this era,
            Now it’s time to show your achievements and business to the whole world with the help of the website.
          </h3>

    </div>
      <div class="col-sm-6" id="web-info2">
    
    </div>
    </div>
</div>  
<br><br><br><br>
<!--second div end  -->

<!-- third div -->
<br><br><br>
<div class="container"id="web-app-body">
    <div class="row">
      <div class="col-sm-6" id="web-info3">
    </div>
      <div class="col-sm-6" id="web-info-text">
        <h3>
            We design websites for Institutions, Interior Designer, Consultants, Hospitals, Construction companies, 
            Architects and startups, etc.
        </h3>
    </div>
    </div>
</div>  
<br><br><br>



<!-- third div end -->

<!-- fourth div -->
<br><br><br>
<div class="container"id="web-app-body">
    <div class="row">
      <div class="col-sm-6 img-fluid" id="web-info-text">
          <h3>
            The website is the best way to get potential clients in this era,
            Now it’s time to show your achievements and business to the whole world with the help of the website.
          </h3>

    </div>
      <div class="col-sm-6 img-fluid" id="web-info4">
    
    </div>
    </div>
</div>  
<br><br><br><br>


<!-- fourth div end -->
{% endblock %}