html {
    overflow-x: hidden; 
}
/* NAVBAR  */
.navbar{
    background:#fff;
    /* box-shadow: 0 8px 6px -6px rgb(233, 225, 225); */
    border-bottom: 1px solid rgb(223, 216, 216);

}
#navbrand{
    color:rgb(2, 34, 138);
    font-size:40px;
    font-weight:bold;
    letter-spacing: -8px;
    font-style:italic;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    
}
.nav-item .nav-link{
    color:gray;
    font-weight:bold;
    letter-spacing: 1px; 
    

}
.nav-link span{
    background:#253341;
    margin-top:-8px;
    color:rgb(253, 253, 253);
    font-weight: bold;
    border-radius:20px;

}
.nav-link span:hover{
    background:rgb(63, 163, 122); ;
}
.nav-item .dropdown-menu{
    margin-top:21px;
    /* box-shadow: 0 4px 4px 2px rgb(233, 225, 225); */
    border-radius:0px;

}
.nav-item .dropdown-menu .dropdown-item:hover{
    background: rgb(219, 215, 215);
}
.dropdown-menu .dropdown-item{
    color:gray;
    font-weight:600;
}
#custom-nav .navbar-toggler-icon{
    background-image: url("/static/images/menu.png");

}

/* NAVBAR ENDS HERE */

/* home landing page corousel and caption styles */
.corousel-inner .item{
    height: 100vh;
}

#carousel_caption{
    /* setting caption in center of image */
    /* padding-bottom:250px; */
}
.carousel-caption h5{
    font-size:50px;
    text-transform:uppercase;
    color:rgb(255, 255, 255);
}
.carousel-control-next{
    background-image: none;
}
.carousel-control-prev{
    background-image: none;
}

.carousel-item img{
    margin-top: 80px;
    height: 90%;
    background-size: cover;
    background-position: center;


}
.carousel .carousel-indicators li {
    width: 10px;
   height: 10px;
   border-radius: 100%;
 }
 /* Fallback for older browsers without RGBA-support  TRANSPERENT COLOR CODE  */
#carousel_caption{
    background: rgb(136, 128, 128); 
    background: rgba(75, 67, 67, 0.5);

}
/* TRANSPERENT COLOR ENDS  */

 /* carousel captions chagning size of fonts in smaller divices   */
 
 #carousel_caption h5{
    /* Extra small devices (phones, less than 768px) */
    font-size: 18px;
  
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      font-size: 12px;
    }
  
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      font-size: 16px;
    }
  
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }
  #carousel_caption legend{
    /* Extra small devices (phones, less than 768px) */
    font-size: 15px;
  
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      font-size: 12px;
    }
  
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      font-size: 16px;
    }
  
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }

/* css for image applying from css  (OWN CUSTOMIZED FOR RESPONSIVE FOR SMALL AND LARGE DEVICES)*/
#carousel-img{
    margin-top:80px;
    height: 85vh;
    background-image: url('/static/images/first_img_ud.jpg');
    background-size: cover;
    
}
@media screen
    /* and (min-width: 400px) */
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
    #carousel-img {
      background-color: rgb(122, 235, 122);
      height: 250px;
    }
  }
  

@media screen and (min-width: 800px) {
    #carousel-img {
        background-color: rgb(132, 240, 132);
        height: 85vh;
    }
    #carousel-img h5{
        color:white;
        font-size: 30px;
        /* margin-top:-250px; */
    }
    
}
  
#carousel-img2{
    margin-top:80px;
    height: 85vh;
    background-image: url('/static/images/quality_ud2.jpg');
    background-size: cover;
    object-fit:cover;
    transform: scale(1);
    
}
@media screen
    /* and (min-width: 400px) */
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
    #carousel-img2 {
      background-color: rgb(122, 235, 122);
      height: 250px;
    }
  }

@media screen and (min-width: 800px) {
    #carousel-img2 {
        background-color: rgb(132, 240, 132);
        height: 85vh;
    }
    #carousel-img2 h5{
        color:white;
        font-size: 30px;

    }
}
#carousel-img3{
    margin-top:80px;
    height: 80vh;
    background-image: url('/static/images/remote_teamUD.jpg');
    background-size: cover;
    
}
@media screen
    /* and (min-width: 400px) */
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
    #carousel-img3 {
      background-color: rgb(122, 235, 122);
      height: 250px;
    }
  }

@media screen and (min-width: 800px) {
    #carousel-img3 {
        background-color: rgb(132, 240, 132);
        height: 85vh;
    }
    #carousel-img3 h5{
        color:white;
        font-size: 30px;

    }

}
/* css for image applying from css ends here (OWN CUSTOMIZED FOR RESPONSIVE FOR SMALL AND LARGE DEVICES) */
 /* carousel caption changing size of fonts in smaller devices */


/* honme landing page corouse and caption styles */



/* second devi WHAT WE DO PAGE STYLE */

h1.h2,h3,h4,h5,h6,p,small{
    font-family: 'Maven Pro', sans-serif;
}
.sec-div .col-sm a{
    text-decoration: none;
    border-bottom:none;
}
.sec-div p{
    font-size:24px;
    font-weight: 600;
    color:#0eb493
}
.sec-div small{
    font-size:16px;
    color:black;
}
.sec-div p:hover{
    color: rgb(250, 3, 188)
}

.sec-div{
    background: #fff;
    padding:5%; 
    margin-bottom:5%;
    /* background-image:url("/static/images/bg-img.jpg") */
}
.sec-div-head{
    font-family: 'Maven Pro', sans-serif;
    padding: 4%;
    margin-top:-5%;
}
.sec-div-head hr{
    background:#0eb493;
    height: 3px;
    width:5%;
    margin:0 auto;

}
.sec-div img{
    height: 84px;
    width:84px;
    margin:20px;
}


/* second devi WHAT WE DO PAGE STYLE ENDS HERE*/


/* Third DIV  */
#third-div h2{
    font-family: 'Maven Pro', sans-serif;
    padding: 4%;
    margin-top:-5%;

}

#third-div-img h2{
    color:#fff;
}
#third-div hr{
    background:#edf5f3;
    height: 3px;
    width:5%;
    margin:0 auto;
    margin-top:-3%;

}


#third-div-img{
    /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
    /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
    background:#253341;
    margin-bottom:3%;
    padding-left:10%;
    padding-right:10%;
    
}
/* Third DIV en */

/* Fourth Div */
.fourth-div{
    background:rgb(104, 103, 103);
    /* background-image: url("/static/images/fourth-bgimg.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    padding:5%;
    margin-top:-2.9%;
    margin-bottom:5%;
}
.fourth-div h1,p{
    color:rgb(255, 255, 255);
    font-family: 'Maven Pro', sans-serif;

}
.fourth-div hr{
    background:#f7f8f8;
    height: 3px;
    width:5%;
    margin:0 auto;
    margin-bottom:3%;
}

/* Fourth Div End */

/* fifth div  */
.fifth-div{
    background:rgb(255, 255, 255);
    /* padding:3%; */
    margin-top:5%;
    margin-bottom: 2%;
    height: 250px;
    

}
.fifth-div .col-sm-6 img{
    height: 300px;
    width:60vh;
    box-shadow:
    0 2.8px 2.2px rgba(143, 89, 89, 0.034),
    0 6.7px 5.3px rgba(236, 130, 130, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background:#fff;
    

}  
.fifth-div .col-sm-6{
    background:#fff;

}  
.fifth-div .col-sm-6 h1{
    /* margin-left:-200px; */
    font-family: 'Maven Pro', sans-serif;
    margin-top:15%;

}
.fifth-div .col-sm-6 a{
    background:#253341;
    color:rgb(253, 253, 253);
    border-radius:20px;
}

/* fifth div end */

/* web application development page style */
.web_app_bg{
    font-family: 'Maven Pro', sans-serif;
    background-image: url("/static/images/web_app_img.jpg");
    padding: 8%;
    margin-top: 5%;
    color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

}
.web_app_bg h1{
    margin-right:40%;
}

@media screen and (min-device-width : 320px)
       and (max-device-width : 480px){ 
        #web_app_img{
            margin-top:21%;

        }
  }
  @media screen and (min-device-width : 320px)
  and (max-device-width : 480px){ 
   #web_app_img h1{
     font-size: 30px;
   }
}






/* web application development page style */